/* Genel Ayarlar */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}

/* Başlık ve Navbar */
header {
    background: linear-gradient(90deg, #4CAF50, #81C784);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #333;
}

/* Kontroller */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls select, 
.controls button {
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.controls select {
    background-color: #f1f1f1;
}

.controls button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #45A049;
}

/* Ana İçerik */
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

main h2 {
    color: #4CAF50;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;

}

main p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Mobil Uyumluluk */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .navbar nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .controls {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
}